{{- $lang := site.Language.LanguageCode | default site.Language.Lang | default "ko-KR" -}}
{{- $siteName := site.Title | plainify -}}
{{- $siteDescription := site.Params.description | plainify | htmlUnescape | chomp -}}
{{- $sameAs := slice -}}
{{- with site.Params.schema.sameAs -}}
  {{- $sameAs = . -}}
{{- else -}}
  {{- range site.Params.socialIcons -}}
    {{- $sameAs = $sameAs | append .url -}}
  {{- end -}}
{{- end -}}

{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s#person" site.Home.Permalink)
  "name" (site.Params.author | default $siteName)
  "url" site.Home.Permalink
-}}
{{- with site.Params.schema.jobTitle -}}
  {{- $person = merge $person (dict "jobTitle" .) -}}
{{- end -}}
{{- with $sameAs -}}
  {{- $person = merge $person (dict "sameAs" .) -}}
{{- end -}}
{{- with site.Params.schema.knowsAbout -}}
  {{- $person = merge $person (dict "knowsAbout" .) -}}
{{- end -}}

{{- $website := dict
  "@type" "WebSite"
  "@id" (printf "%s#website" site.Home.Permalink)
  "url" site.Home.Permalink
  "name" $siteName
  "description" $siteDescription
  "inLanguage" $lang
  "publisher" (dict "@id" (printf "%s#person" site.Home.Permalink))
-}}

{{- if .IsHome -}}
  {{- $blogPosts := slice -}}
  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections -}}
  {{- range first 12 $pages -}}
    {{- $post := dict
      "@type" "BlogPosting"
      "@id" (printf "%s#article" .Permalink)
      "url" .Permalink
      "headline" (.Title | plainify)
      "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
    -}}
    {{- $blogPosts = $blogPosts | append $post -}}
  {{- end -}}
  {{- $blog := dict
    "@type" "Blog"
    "@id" (printf "%s#blog" site.Home.Permalink)
    "url" site.Home.Permalink
    "name" $siteName
    "description" $siteDescription
    "inLanguage" $lang
    "author" (dict "@id" (printf "%s#person" site.Home.Permalink))
    "blogPost" $blogPosts
  -}}
  {{- $schema := dict "@context" "https://schema.org" "@graph" (slice $person $website $blog) -}}
<script type="application/ld+json">
{{- $schema | jsonify (dict "noHTMLEscape" true "indent" "  ") | safeJS -}}
</script>
{{- else if or .IsPage .IsSection -}}
  {{- $crumbs := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" site.Home.Permalink) -}}
  {{- if and .IsPage .Section -}}
    {{- with site.GetPage (printf "/%s" .Section) -}}
      {{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" (add (len $crumbs) 1) "name" (.Title | plainify) "item" .Permalink) -}}
    {{- end -}}
  {{- end -}}
  {{- $crumbs = $crumbs | append (dict "@type" "ListItem" "position" (add (len $crumbs) 1) "name" (.Title | default .Name | plainify) "item" .Permalink) -}}
  {{- $breadcrumb := dict
    "@type" "BreadcrumbList"
    "@id" (printf "%s#breadcrumb" .Permalink)
    "itemListElement" $crumbs
  -}}

  {{- if .IsPage -}}
    {{- $pageDescription := .Description | default .Summary | default site.Params.description | plainify | htmlUnescape | chomp -}}
    {{- $keywords := .Params.keywords | default .Params.tags | default slice -}}
    {{- $sections := .Params.categories | default (slice .Section) -}}
    {{- $images := slice -}}
    {{- if .Params.cover.image -}}
      {{- if (ne .Params.cover.relative true) -}}
        {{- $images = $images | append (.Params.cover.image | absURL) -}}
      {{- else -}}
        {{- $images = $images | append ((path.Join .RelPermalink .Params.cover.image) | absURL) -}}
      {{- end -}}
    {{- else -}}
      {{- with partial "templates/_funcs/get-page-images" . -}}
        {{- range . | first 6 -}}
          {{- $images = $images | append .Permalink -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $about := slice -}}
    {{- range $keywords -}}
      {{- $about = $about | append (dict "@type" "Thing" "name" .) -}}
    {{- end -}}
    {{- $article := dict
      "@type" "BlogPosting"
      "@id" (printf "%s#article" .Permalink)
      "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
      "url" .Permalink
      "headline" (.Title | plainify)
      "description" ($pageDescription | truncate 240)
      "inLanguage" $lang
      "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
      "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
      "author" (dict "@id" (printf "%s#person" site.Home.Permalink))
      "publisher" (dict "@id" (printf "%s#person" site.Home.Permalink))
      "isPartOf" (dict "@id" (printf "%s#blog" site.Home.Permalink))
      "wordCount" .WordCount
      "keywords" $keywords
      "articleSection" $sections
      "about" $about
    -}}
    {{- with $images -}}
      {{- $article = merge $article (dict "image" .) -}}
    {{- end -}}
    {{- $schema := dict "@context" "https://schema.org" "@graph" (slice $person $website $breadcrumb $article) -}}
<script type="application/ld+json">
{{- $schema | jsonify (dict "noHTMLEscape" true "indent" "  ") | safeJS -}}
</script>
  {{- else -}}
    {{- $collection := dict
      "@type" "CollectionPage"
      "@id" (printf "%s#webpage" .Permalink)
      "url" .Permalink
      "name" (.Title | default .Name | plainify)
      "description" (.Description | default .Summary | default site.Params.description | plainify | htmlUnescape | chomp | truncate 240)
      "inLanguage" $lang
      "isPartOf" (dict "@id" (printf "%s#website" site.Home.Permalink))
    -}}
    {{- $schema := dict "@context" "https://schema.org" "@graph" (slice $person $website $breadcrumb $collection) -}}
<script type="application/ld+json">
{{- $schema | jsonify (dict "noHTMLEscape" true "indent" "  ") | safeJS -}}
</script>
  {{- end -}}
{{- end -}}
